.profileCard
{
    width: 300px;
    height: 500px;
    border: 2px solid white;
    position: relative;
    border-radius: 10px;
    padding-right: 10px;

    h4 
    {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 1.2em;
    }

    &.movingLeft {
        animation: fadeOutAndMoveRight 0.5s forwards;
    }

    &.movingRight {
        animation: fadeOutAndMoveLeft 0.5s forwards;
    }
}

.emptyProfile
{
    width: 212px;
    height: 302px;
}

.profileHeader
{
    height: 40%;
    border-bottom: 1px solid white;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
    }

    .profilePicture {
        border-radius: 50%;
        border: 1px solid #ccc;
    }
}

.profileContent 
{
    height: 60%;

    p {
        padding: 0 1em 0 1em;
    }
}

.deleteProfileButton
{
    position: absolute;
    top: 20px;
    right: 20px;

    img {
        width: 30px;
        height: 30px;
    }

    cursor: pointer;
}

.profileContentWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.dataActionButton {
    width: 80%;
    margin-bottom:1em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;

    &:disabled {
        background-color: #ccc;
        color: #fff;
        cursor: not-allowed;
    }
}

.small 
{
    width: 200px !important;
    height: 300px !important;

    .dataActionButton 
    {
        font-size: 0.8em;
        height: 25px;
    }
    
    &.profileCard 
    {
        border-width: 1px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .deleteProfileButton 
    {
        top: 13px;
        right: 13px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    h4
    {
        font-size: 1em;
    }

    p 
    {
        font-size: 0.8em;
    }

    li {
        font-size: 0.8em;
    }
}

@keyframes fadeOutAndMoveRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
}

@keyframes fadeOutAndMoveLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50px);
    }
}