.profileCard
{
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #141414;
}

@keyframes fadeOutAndMoveRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
}

@keyframes fadeOutAndMoveLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50px);
    }
}

.profileCard.movingLeft
{
    animation: fadeOutAndMoveRight 0.5s forwards;
}

.profileCard.movingRight
{
    animation: fadeOutAndMoveLeft 0.5s forwards;
}

.emptyProfile
{
    width: 202px;
    height: 302px;
}

.small {
    width: 200px !important;
    height: 300px !important;
}

.profileHeader
{
    height: 40%;
    border-bottom: 1px solid #6d6d6d;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileHeader img
{
    width: 100px;
    height: 100px;
}

.profileHeader .profilePicture
{
    border-radius: 50%;
    border: 1px solid #ccc;
}

.small img
{
    width: 50px;
    height: 50px;
}

h4 
{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.2em;
}

.small h4
{
    font-size: 1em;
}

.small.profileCard
{
    border-radius: 5px;
}

.profileContent {
    height: 60%;
}

.small p {
    font-size: 0.8em;
}

.small li {
    font-size: 0.8em;
}

.profileContent p {
    padding: 0 1em 0 1em;
}

.profileContentWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.dataActionButton {
    width: 80%;
    margin-bottom:1em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;

    &:disabled {
        background-color: #ccc;
        color: #fff;
        cursor: not-allowed;
    }
}

.small .dataActionButton {
    font-size: 0.8em;
    height: 25px;
}