.homeIcon {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    cursor: pointer;
}