.previewFrame
{
    width: 1015px;
    margin: 10px auto;
}

.previewScale
{
    transform: scale(0.4);
    transform-origin: top left;
}

.printButton {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-mask: url("images/print-solid.svg") no-repeat center;
    mask: url("images/print-solid.svg") no-repeat center;
  }

  .hiddenBook {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}