.previewFrame
{
    width: 1015px;
    margin: 10px auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.previewScale
{
    transform: scale(0.4);
    transform-origin: top left;
}