.tweet
{
    font-size: 36px;
    margin-bottom: 30px;
    width: 701px;
    display: flex;
    flex-direction: column;
}

.tweet_main
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tweet_sidepanel
{
    display: flex;
    flex-direction: column;
}

.tweet_content
{
    width: 521px;
    padding-right: 80px;
}

.tweet_chain
{
    flex-grow: 1;
    height: 100%;
    margin-left: 35%;
    margin-top: 20px;
    border-left: 3px solid #26a7de;
}

.tweet_author
{
    font-weight: bold;
}

.profileImage
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.tweet_media  
{
    width: 521px;
    padding-right: 80px;
    & > img
    {
        &:first-child
        {
            margin-top: 20px;
        }
        width: 521px;
        max-height: 1200px;
        object-fit: cover;
        border-radius: 15px;
        border: 2px solid gray;
    }
}

.tweet_media_sm
{
    width: 521px;
    padding-right: 80px;
    & > img
    {
        &:first-child
        {
            margin-top: 20px;
        }
        width: 521px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 15px;
        border: 2px solid gray;
    }
}

.tweet_text
{
    max-width: 521px;
    overflow-wrap: break-word
}

.tweet_date
{
    font-size: 30px;
    font-style: italic;
}