.titlePage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerImage
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 500px;
    border: 5px solid #000;
}

.headerBanner
{
    width: 2100px;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerWrapper 
{
    height: 900px;
}

.bookHeading
{
    font-size: 96px;
    font-weight: 600;
    margin-bottom: 50px;
}

.bookSubtitle
{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}