.page {
    height: 3508px;
    background-color: white;
    color: black;
}

.pageContent {
    padding: 100px 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.pageColumn {
    &:not(:last-child):not(:first-child) {
        padding: 0 35px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

.preview {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 50px;
}