.page {
    height: 3508px;
    background-color: white;
    color: black;
}

.pageContent {
    padding: 50px;
}

.preview {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 50px;
}