.page {
    height: 3508px;
    background-color: white;
    color: black;
}

.pageContent {
    padding: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.preview {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 50px;
}